<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AccountMapper">
    <resultMap id="accountResultMap" type="Account">
        <id column="account_id" property="accountId"/>
        <result column="balance" property="balance"/>
        <result column="account_num" property="accountNum"/>
        <result column="version" property="version"/>
    </resultMap>

    <select id="getAccountById" resultMap="accountResultMap">
        SELECT * FROM account WHERE account_id = #{accountId}
    </select>
    <select id="getAccountByNum" resultMap="accountResultMap">
        SELECT * FROM account WHERE account_num = #{accountNum}
    </select>

    <insert id="insertAccount" useGeneratedKeys="true" keyProperty="accountId">
        INSERT INTO account (balance, account_num)
        VALUES (#{balance}, #{accountNum})
    </insert>

    <update id="updateAccount">
        UPDATE account SET balance = #{balance}, account_num = #{accountNum}, version = #{version} + 1
        WHERE account_id = #{accountId} AND version = #{version}
    </update>

    <delete id="deleteAccount">
        DELETE FROM account WHERE account_id = #{accountId}
    </delete>
</mapper>
