<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://vcm-32430.vm.duke.edu:5432/postgres?useSSL=true" />
                <property name="username" value="postgres" />
                <property name="password" value="hw4" />
                <property name="poolMaximumActiveConnections" value="50"/>
                <property name="poolMaximumIdleConnections" value="10"/>
                <property name="poolMaximumCheckoutTime" value="20000"/>
                <property name="poolTimeToWait" value="20000"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="AccountMapper"/>
        <mapper class="PositionMapper"/>
        <mapper class="OrderMapper"/>
    </mappers>
</configuration>
